.task-card{
  margin: 20px;
  height: 180px;
  width: 180px;
  background-color: #fec0c9;
  border-radius: 40px;
  position: relative;
}

.task-card mat-label{
  color: #242622;
}

.task-card button{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #242622;
  background-color: rgba(230, 72, 236, 0.021);
}


input{
  color:brown;
  background-color: rgba(230, 72, 236, 0.032);
}

mat-label{
  color: rgb(252, 252, 252);
}

mat-form-field.mat-form-field {
  font-size: 16px;
  width: 100%;
  border-radius: 30px;
  color: black;
  text-align: right;
 }

 @media only screen and (max-width: 600px) {

  .task-card {
    margin: 15px;
    height: 100px;
    width: 250px;
  }

  #addTask{
    margin-left: 45px;
    width: 85%;
  }

  .task-card button {
    position: relative;
    left: 8%;
    transform: translate(-50%, -160%);
    color: black;
  }

}

