h1 {
  text-align: center;
  color: rgb(10, 17, 227);
  font-size: xx-large;
}

iframe{
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  youtube-player  {
  visibility: hidden;
  }
}
