

h1{
  text-align: center;
  font-size:60px;
  color: white;
}

.icon-display{
  transform: scale(2);
  color: white;
  margin: 100%;
}

@media only screen and (max-width: 600px) {
  .icon-display{
    transform: scale(1);
  }

  h1{
    font-size:30px;
    /* position: fixed; */
    margin-top: -28px;
    /* margin: -7%; */
  }

}
