.top{
  background-color: #74cddd;
  height: 30%;
  position: relative;
}

h1{
  width: 100%;
  text-align: center;
  position: absolute;
  font-size:60px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

button .icon-display{
  transform: scale(2);
  color: #feca38;
  margin: 100%;
}

button{
  position: fixed;
  z-index: 99;
}

@media only screen and (max-width: 600px) {
  .icon-display{
    transform: scale(1);
  }

  h1{
    font-size:50px;
    margin-top: 12%;
  }

}
